body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 1520px; 
    margin: 0 auto; 
  }
  
  .background-section {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('images/Banner\ Image.png');
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 16px;
  }
  
  .centered-text {
    text-align: center;
    color: white;
  }
  
  .centered-text h1 {
   
    color: #FFF;
     text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
  }
  
  .centered-text p {
    color: #FFF;

   text-align: center;
   font-family: Merriweather;
   font-size: 32px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
  }
  
  /*  */
  .allCategory-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    
  }
  
  .centered-content {
    text-align: center;
  }
  
  .centered-content h1 {
       color: #F00;
   text-align: center;
   font-family: Inter;
   font-size: 88px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
  }
  
  .centered-content img {
    max-width: 100%;
    height: auto;
  }
  .category-text{
    color: #F00;

   text-align: center;
   font-family: Inter;
   font-size: 24px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
  }
  .category-heading {
    color: #070211;

   text-align: center;
   font-family: Inter;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
  }
  /*  */
 
  .party-section {
    background-image: url('images/Vectorrr.png');
    background-size: cover;
    background-position: center;
    padding: 50px;
    border-radius: 10px;
  }
  
  
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
  }
  
  
  .text {
    flex: 1;
    margin-right: 20px;
    color: white;
  }
  
  .text h2 {
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
  }
  .text p{
    color: rgba(255, 255, 255, 0.80);

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
  }
  .text button{
   background-color: #070211;
   color: #fff;
   border-radius: 10px;
  }
  
  .image {
    flex: 1;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  /* another section */
 
  
  .gift-info {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 110px;

  }
  .gift-info h4{
    color: #F00;

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }
  .gift-info h3{
    color: #070211;

font-family: Merriweather;
font-size: 40px;
font-style: normal;
font-weight: 900;
/* line-height: normal; */
text-transform: capitalize;
  }
  .gift-info p{
    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
  }
  
  .photo-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 120px;
  }
  
  .photo-item {
    width: auto;
    margin: 10px;
    overflow: hidden;
    position: relative;
  }
  
  .photo-item img {
    width: 100%;
    height:450px;
    transition: transform 0.3s ease;
  }
  
  .photo-item:hover img {
    transform: scale(1.1);
  }
  
  /*  section*/
  .subscription-section {
    background-color: rgba(255, 0, 0, 0.05);
    padding: 40px 0;
    text-align: center;
    height: 500px;
    
  }
  
  .subscription-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .subscription-content img {
    width: 150px;
height: 150px;
flex-shrink: 0;
  }
  
  .subscription-content h2 {
    margin-bottom: 10px;
    color: #070211;

text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
  }
  
  .subscription-content p {
    margin-bottom: 20px;
    color: rgba(7, 2, 17, 0.60);

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
  }
  
  .subscription-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .email-input {
    width: 250px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
  }
  
  .subscription-form button {
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

  }
  
  .subscription-form button:hover {
    background-color: #cc0000;
  }
  /* footer design */
  .footer-section {
    background: #070211;
    padding: 20px;
    text-align: center;
    color: #fff;
    margin-top: 120px;
  }
  /*  */
  .footer{
    display: flex;
    justify-content: space-between;
  }
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .left-footer,
  .right-footer,
  .center-footer,
  .subscribe-content {
    margin-bottom: 10px;
  }
  .left-footer{
    color: #FFF;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px auto;
    width: 80%;
  }
  
  .icon-set {
    display: flex;
    justify-content: center;
  }
  
  .icon-set img {
    margin: 0 10px;
  }
  
  .subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .subscribe-form input[type="email"],
  .subscribe-form button {
    padding: 10px;
    font-size: 16px;
  }
  
  .subscribe-form input[type="email"] {
    width: 250px;
    margin-right: 10px;
  }
  
  .subscribe-form button {
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .subscribe-form button:hover {
    background-color: #cc0000;
  }
  
  /* bonus section  */
  .best-offer-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
  }
  
  .left-content .left-content-heading {
    color: #F00;

text-align: left;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }
  .left-content h1{
    color: #070211;

font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
  }
  .left-content .left-content-desc{
    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
  }

  
  .center-content {
    flex: 1;
    display: flex;
    justify-content: center;
    
  }
  
  .red-border {
    border: 3px solid red;
    border-radius: 50%;
  }
  
  .offer-image img {
    max-width: 100%;
    height: auto;
  }
  .right-content .year {
    color: #F00;

font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .right-content p{
    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px
  }
  .right-content img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    
  }
  .right-content{
    text-align: left;
  }